$basis-farbe-1: lightcoral
$basis-farbe-2: turquoise
$basis-farbe-3: white
$basis-farbe-4: lightgray
$basis-farbe-5: gray
$basis-farbe-6: #505050
$basis-farbe-7: black

$schlagschatten-farbe-1: rgba(0, 0, 0, 0.2)

$anmerkungen-farbe-1: rgba(255, 255, 255, 0.6)
